.clear-btn {
  background-color: rgb(81, 69, 133);
  color: white;
  font-size: 0.9rem;
  border-radius: 15px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.clear-btn:hover {
  background-color: rgb(47, 36, 98);
}
.cart-container {
  max-width: 800px;
  margin: 10px auto 20px auto;

  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.cart-header h2 {
  font-size: 20px;
  margin: 0;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}
.item-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.item-info img {
  width: 80px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}
.item-actions {
  text-align: right;
}
.item-actions .price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.cart-footer {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  color: green;
}
